<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="서로에게 이득이 되는 아르바이트 구직정보 사이트 단디 알바"
    />
    <meta name="keywords" content="dandi" />
    <meta name="author" content="4팀" />
    <title>고민 등록</title>
    <link
      rel="stylesheet"
      href="/css/troubleAdd.css"
      th:href="@{/css/troubleAdd.css}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="../../static/fragmentCommon/common/common.css"
      th:href="@{/fragmentCommon/common/common.css}"
    />
  </head>
  <!-- 카테고리 상자 숨기기 -->
  <script
    src="https://kit.fontawesome.com/881b9bf5d3.js"
    crossorigin="anonymous"
  ></script>
  <body>
    <div id="wrapper">
      <div
        th:replace="~{/fragment/mainHeadLoginAfter :: mainHeaderAfter}"
      ></div>
      <div
        th:replace="~{/fragment/mainNavigationLoginAfter :: mainNavigationAfter}"
      ></div>
      <!-- 메인: 고민게시판 작성-->
      <div>
        <main>
          <form
            id="frm"
            action=""
            method="post"
            th:object="${saveForm}"
            enctype="multipart/form-data"
          >
            <div class="troubleAdd">
              <div class="div_1">
                <ul>
                  <li><label class="title" for="name">이름</label></li>
                  <li><label class="title" for="email">이메일</label></li>
                  <li><label class="title" for="category">고민유형</label></li>
                  <li>
                    <label class="title" for="contract">근로계약서</label>
                  </li>
                  <li><label class="title" for="wage">계약임금</label></li>
                  <li><label class="title" for="hours">근무시간</label></li>
                  <li><label class="title" for="title">제목</label></li>
                  <li><label class="title" for="content">내용</label></li>
                </ul>
              </div>

              <div class="div_2">
                <ul>
                  <li>
                    <input
                      type="text"
                      id="name"
                      th:field="*{nickname}"
                      maxlength="10"
                    />
                  </li>
                  <li><input type="text" id="email" th:field="*{email}" /></li>
                  <li>
                    <select size="1" id="category" th:field="*{tCategory}">
                      <option value="">선택</option>
                      <option value="임금">임금</option>
                      <option value="근무시간">근무시간</option>
                      <option value="해고">해고</option>
                      <option value="산재">산재</option>
                      <option value="폭행">폭행</option>
                      <option value="성희롱">성희롱</option>
                      <option value="기타">기타</option>
                    </select>
                  </li>
                  <li id="contract">
                    <input
                      type="radio"
                      name="contract"
                      id="written"
                      value="작성함"
                      th:field="*{contract}"
                      checked
                    />
                    <label for="written">작성함</label>
                    <input
                      type="radio"
                      name="contract"
                      id="notWritten"
                      value="작성안함"
                      th:field="*{contract}"
                    />
                    <label for="notWritten">작성안함</label>
                  </li>
                  <li>
                    <select size="1" id="wage" th:field="*{wage}">
                      <option value="">선택</option>
                      <option value="시급">시급</option>
                      <option value="일급">일급</option>
                      <option value="주급">주급</option>
                      <option value="월급">월급</option>
                      <option value="연봉">연봉</option>
                      <option value="건별">건별</option>
                    </select>
                    <input type="text" id="won" th:field="*{won}" />원
                  </li>
                  <li>
                    <select size="1" id="hour" th:field="*{hours}">
                      <option value="">선택</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                    </select>
                    <label for="hour">시간</label>
                    <input type="text" id="month" th:field="*{month}" /><label
                      for="month"
                      >개월</label
                    >
                    <input type="text" id="year" th:field="*{year}" /><label
                      for="year"
                      >년</label
                    >
                  </li>
                  <li>
                    <input
                      type="text"
                      id="title"
                      th:field="*{title}"
                      placeholder="제목을 입력해주세요"
                      maxlength="20"
                    />
                  </li>
                  <li id="content">
                    <textarea
                      name=""
                      th:field="*{tContent}"
                      placeholder="내용을 입력해주세요"
                      rows="30"
                    ></textarea>
                  </li>
                  <li>
                    <input
                      type="file"
                      id="file"
                      th:field="*{imageFiles}"
                      multiple
                    />
                  </li>
                </ul>
              </div>
            </div>

            <div class="div_3">
              <ul>
                <li>
                  <button type="submit" id="btnAdd">등록</button>
                  <button
                    type="button"
                    id="btnCancel"
                    th:onclick="|location.href='@{/trouble}'|"
                  >
                    취소
                  </button>
                </li>
              </ul>
            </div>
          </form>
        </main>
      </div>
      <!-- 푸터 위쪽 -->
      <div th:replace="~{/fragment/mainFooter :: mainFooter}"></div>
      <div class="sp1"></div>
      <div class="sp2"></div>
      <div class="sp3"></div>
      <div class="sp4"></div>
      <div class="sp5"></div>
      <div class="sp6"></div>
      <div class="sp7"></div>
      <div class="sp8"></div>
      <div class="sp9"></div>
      <div class="sp10"></div>
    </div>
    <script
      type="module"
      src="../../static/fragmentCommon/common/layout.js"
      th:src="@{/fragmentCommon/common/layout.js}"
    ></script>
  </body>
</html>
