<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 전 페이지</title>
  </head>
  <body>
    <h1>단디알바</h1>
    <li><a href="" th:href="@{/login}">로그인</a></li>
    <li><a href="" th:href="@{/singUpSelect}">회원가입</a></li>
    <hr />
    <ul>
      <li><a href="" th:href="@{/login}">구인게시판</a></li>
      <li><a href="" th:href="@{/login}">고민게시판</a></li>
      <li><a href="" th:href="@{/login}">공지사항</a></li>
    </ul>
  </body>
</html>
