<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="서로에게 이득이 되는 아르바이트 구직정보 사이트 단디 알바"
    />
    <meta name="keywords" content="dandi" />
    <meta name="author" content="4팀" />
    <link
      rel="stylesheet"
      href="./common/common.css"
      th:href="@{/signUpSelect/common/common.css}"
    />
    <title>회원가입-단디알바</title>
    <script
      src="https://kit.fontawesome.com/c3420fd862.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="wrapper">
      <!-- 헤더 -->
      <header id="header">
        <div class="header__title"><a href="#" th:href="@{/}">단디알바</a></div>
        <div class="header__subTitle">
          <a href="#" th:href="@{/}">:짧지만 확실하게</a>
        </div>
      </header>

      <!-- 메인: insert content -->
      <div id="mm-b">
        <div id="mm">
          <div class="ml">
            <div class="ml-1">이력서 등록 후 알바를 찾아보세요!</div>
            <div class="ml-2">
              <i class="fa-solid fa-users"></i>
              <p>개인회원</p>
            </div>
            <div class="ml-3">
              <button class="btn-l" type="button">
                <a href="#" th:href="@{/memberPersons/singUp}"
                  >개인회원 가입하기</a
                >
              </button>
            </div>
          </div>
          <div class="mr">
            <div class="mr-1">공고 등록 후 인재를 찾아보세요!</div>
            <div class="mr-2">
              <i class="fa-solid fa-building"></i>
              <p>기업회원</p>
            </div>
            <div class="mr-3">
              <button class="btn-r" type="button">
                <a href="#" th:href="@{/memberCompanies/singUp}"
                  >기업회원 가입하기</a
                >
              </button>
            </div>
            <div class="mr-4"></div>
          </div>
        </div>
      </div>

      <!-- 공백 태그-->
      <div class="sp1"></div>
      <div class="sp2"></div>
      <div class="sp5"></div>
      <div class="sp6"></div>
    </div>
  </body>
</html>
