<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입-선택</title>
</head>
<body>
    <h2>회원가입</h2>
    <hr>
    <h3>단디 알바에 오신 것을 환영합니다.</h3>
    <hr>
    <ul>
        <li><a href="" th:href="@{/memberPersons/singUp}">개인 회원가입</a></li>
        <br>
        <li><a href="" th:href="@{/memberCompanies/singUp}">기업 회원가입</a></li>
    </ul>
</body>
</html>