@charset "utf-8";

#main {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.58;
  color: #333;
  background-color: #f4f4f4;
  height: 55rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.hidden {
  display: none;
}

.formControl {
  width: 100%;
  min-height: 38px;
  font-size: 15px;
  border: 1px solid #c8c8c8;
}

.formGroup {
  margin-bottom: 15px;
}

input {
  padding-left: 10px;
  outline: 1px solid #79cd9c;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
}

a {
  color: #79cd9c;
}

button {
  box-shadow: none;
  border: 1px solid transparent;
  font-size: 14px;
  outline: none;
  line-height: 100%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  min-height: 38px;
}

button.default {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
  background-color: #79cd9c;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}

button.accent {
  background-color: #41b37c;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}

#usernamePage {
  text-align: center;
}

.usernamePageContainer {
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  width: 100%;
  max-width: 500px;
  display: inline-block;
  margin-top: 42px;
  vertical-align: middle;
  position: relative;
  padding: 35px 55px 35px;
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -160px;
}

.usernamePageContainer .usernameSubmit {
  margin-top: 10px;
}

#chatPage {
  position: relative;
  height: 100%;
}

.chatContainer {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  margin-top: 30px;
  height: calc(100% - 60px);
  max-height: 600px;
  position: relative;
}

#chatPage ul {
  list-style-type: none;
  background-color: #fff;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 20px 0px 20px;
  height: calc(100% - 150px);
}

#chatPage #messageForm {
  padding: 20px;
}

#chatPage ul li {
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #f4f4f4;
}

#chatPage ul li p {
  margin: 0;
}

#chatPage .event-message {
  width: 100%;
  text-align: center;
  clear: both;
}

#chatPage .event-message p {
  color: #777;
  font-size: 14px;
  word-wrap: break-word;
}

#chatPage .chat-message {
  padding-left: 68px;
  position: relative;
}

#chatPage .chat-message i {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-style: normal;
  text-transform: uppercase;
}

#chatPage .chat-message span {
  color: #333;
  font-weight: 600;
}

#chatPage .chat-message p {
  color: #43464b;
}

#messageForm .inputGroup {
  display: flex;
}

#messageForm .inputGroup input {
  width: 100%;
}

#messageForm .inputGroup button {
  float: left;
  width: 80px;
  margin-left: 5px;
}

.chatHeader {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ececec;
}

.chatHeader h2 {
  margin: 0;
  font-weight: 500;
}

.connecting {
  padding-top: 5px;
  text-align: center;
  color: #777;
  position: absolute;
  top: 65px;
  width: 100%;
}
