@charset "utf-8";

/* body * {
  outline: 1px solid red;
} */

#main {
  display: grid;
  grid-template-areas:
    "h"
    "m";
  grid-column: 1fr;
  grid-template-rows: 1fr auto;
  margin-top: 110px;
}

#mainHeader {
  grid-area: h;
}

#mainHeader .main__headerMenu {
  display: flex;
  justify-content: center;
}

#mainHeader .main__menu1,
#mainHeader .main__menu2,
#mainHeader .main__menu3 {
  width: 250px;
  height: 100px;
  background-color: #79cd9c;
  margin: 1px;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

#mainHeader .main__menu1 {
  background-color: #00b3a8;
}

.mainContentMenu1.active,
.mainContentMenu2.active,
.mainContentMenu3.active {
  display: none;
}

/* #mainHeader .main__menu1.active,
#mainHeader .main__menu2.active,
#mainHeader .main__menu3.active {
  background-color: #00b3a8;
} */

#mainHeader .main__menu1:hover,
#mainHeader .main__menu2:hover,
#mainHeader .main__menu3:hover,
#compl:hover {
  background-color: #00b3a8;
  font-size: 135%;
}

#mainHeader .main__menu1 {
  border-top-left-radius: 50px;
}

#mainHeader .main__menu3 {
  border-top-right-radius: 50px;
}

#mainContent {
  display: grid;
  grid-area: m;
  justify-content: center;
  margin: 5px;
}

.mainContentMenu1 .area1,
.mainContentMenu1 .area2,
.mainContentMenu1 .area3,
.mainContentMenu1 .area4,
.mainContentMenu1 .area5,
.mainContentMenu1 .area6,
.mainContentMenu1 .area7,
.mainContentMenu1 .area8,
.mainContentMenu1 .area9,
.mainContentMenu1 .area10,
.mainContentMenu1 .area11 {
  display: inline;
}

#sample6_postcode {
  position: relative;
  width: 250px;
  left: 3px;
}

#adderssBtn {
  position: relative;
  width: 100px;
  text-align: center;
  /* left: 10px; */
}
#sample6_address {
  position: relative;
  width: 205px;
  left: 272px;
}

#sample6_detailAddress {
  position: relative;
  width: 205px;
  left: 252px;
}

#sample6_extraAddress {
  position: relative;
  width: 260px;
  left: 272px;
}

#emailBtn,
#addressBtn {
  position: relative;
  width: 110px;
  height: 45px;
  border: 1px solid #79cd9c;
  background-color: #79cd9c;
  border-radius: 10px;
  color: white;
  font-size: bold;
  font-size: 13px;
}

#compl {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #79cd9c;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

#myId,
#myName {
  background-color: #b0afaf;
  border-radius: 5px;
  border: #b0afaf;
}

.mainContentMenu1,
.mainContentMenu2,
.mainContentMenu3 {
  border-radius: 20px;
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.2);
}

.mainContentMenu2 .PW1,
.mainContentMenu2 .PW2,
.mainContentMenu2 .PW3,
.mainContentMenu2 .PW5 {
  display: inline;
}

.mainContentMenu2 .PW4 p {
  margin-left: 100px;
  width: 550px;
  text-align: center;
  font-size: 14px;
  height: 150px;
  border-radius: 5px;
  /* background-color: #00B3A8; */
  border: 1px solid #000;
}

.mainContentMenu3 .UR1,
.mainContentMenu3 .UR2,
.mainContentMenu3 .UR3,
.mainContentMenu3 .UR5 {
  display: inline;
}

.mainContentMenu3 .UR4 p {
  margin-left: 100px;
  width: 550px;
  text-align: center;
  font-size: 14px;
  height: 168px;
  border-radius: 5px;
  /* background-color: #00B3A8; */
  border: 1px solid #000;
}

#UR1_1 {
  background-color: #b0afaf;
  border-radius: 5px;
  border: #b0afaf;
}

.mainContentMenu1,
.mainContentMenu2,
.mainContentMenu3 {
  margin-bottom: 40px;
  width: 750px;
}

.mainContentMenu1 p,
.mainContentMenu2 p,
.mainContentMenu3 p {
  width: 400px;
  height: 40px;
  margin: 10px;
}

#email,
#address {
  width: 420px;
}

.mainContentMenu1 input,
.mainContentMenu2 input,
.mainContentMenu3 input {
  width: 420px;
  height: 43px;
  margin: 10px;
  border-radius: 6px;
}
#businessCompany {
  width: 370px;
}
.chkBtn {
  border: 1px solid #000;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mainContentMenu1 li label p,
.mainContentMenu2 li label p,
.mainContentMenu3 li label p {
  margin: 50px;
  line-height: 50px;
  font-size: 20px;
  height: 50px;
  font-weight: bold;
}

.fa-regular.fa-circle-check {
  display: none;
}

#email_down,
#phone_down,
#companyNumber_down {
  position: relative;
  font-size: 0.8em;
  color: red;
  font-weight: bold;
  left: 280px;
  display: none;
}

#currentPW_down,
#newPW2_down,
#newPW3_down {
  position: relative;
  font-size: 0.75em;
  color: red;
  font-weight: bold;
  left: 260px;
  display: none;
}

#UR2_1_down,
#UR3_1_down {
  position: relative;
  font-size: 0.75em;
  color: red;
  font-weight: bold;
  left: 235px;
  display: none;
}

/* 반응형 820px */
@media screen and (max-width: 820px) {
  .mainContentMenu1,
  .mainContentMenu2,
  .mainContentMenu3 {
    margin-bottom: 50px;
    width: 30rem;
  }

  .mainContentMenu1 li label p,
  .mainContentMenu2 li label p,
  .mainContentMenu3 li label p {
    margin: 15px;
    line-height: 30px;
    font-size: 13px;
    height: 30px;
    font-weight: bold;
    width: 50px;
  }

  .mainContentMenu1 input,
  .mainContentMenu2 input,
  .mainContentMenu3 input {
    width: 280px;
    font-size: 0.75rem;
  }

  #adderssBtn {
    position: relative;
    width: 100px;
  }

  #email {
    width: 280px;
  }

  #sample6_postcode {
    width: 157px;
  }

  #sample6_address {
    position: relative;
    left: 142px;
    width: 140px;
  }

  #sample6_detailAddress {
    position: relative;
    left: 125px;
    width: 140px;
  }

  #sample6_extraAddress {
    position: relative;
    left: 142px;
    width: 200px;
  }

  #mainHeader .main__menu1,
  #mainHeader .main__menu2,
  #mainHeader .main__menu3 {
    width: 160px;
    height: 100px;
    background-color: #79cd9c;
    margin: 1px;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
  }

  #mainHeader .main__menu1:hover,
  #mainHeader .main__menu2:hover,
  #mainHeader .main__menu3:hover,
  #compl:hover {
    background-color: #00b3a8;
    font-size: 118%;
  }

  #compl {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #79cd9c;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
  }

  .mainContentMenu2 .PW4 p {
    margin-left: 20px;
    width: 450px;
    text-align: center;
    font-size: 13px;
    height: 140px;
    border-radius: 5px;
    /* background-color: #00B3A8; */
    border: 1px solid #000;
  }

  .mainContentMenu3 .UR4 p {
    margin-left: 20px;
    width: 450px;
    text-align: center;
    font-size: 13px;
    height: 155px;
    border-radius: 5px;
    /* background-color: #00B3A8; */
    border: 1px solid #000;
  }

  #email_down {
    position: relative;
    left: 110px;
    font-size: 0.75rem;
  }

  #phone_down {
    position: relative;
    left: 140px;
    font-size: 0.75rem;
  }

  #companyNumber_down {
    position: relative;
    left: 145px;
    font-size: 0.75rem;
  }

  #currentPW_down,
  #newPW2_down,
  #newPW3_down {
    position: relative;
    left: 30px;
    font-size: 0.7rem;
  }

  #UR2_1_down,
  #UR3_1_down {
    position: relative;
    left: 30px;
    font-size: 0.7rem;
  }
}

/* 모바일 반응형 400px */
@media screen and (max-width: 400px) {
  .mainContentMenu1,
  .mainContentMenu2,
  .mainContentMenu3 {
    margin-bottom: 50px;
    width: 17rem;
  }

  #mainContent {
    display: grid;
    grid-area: m;
    justify-content: center;
  }

  .mainContentMenu1 li label p,
  .mainContentMenu2 li label p,
  .mainContentMenu3 li label p {
    margin: 5px;
    line-height: 20px;
    font-size: 8px;
    height: 20px;
    font-weight: bold;
    width: 30px;
  }

  .mainContentMenu1 input,
  .mainContentMenu2 input,
  .mainContentMenu3 input {
    width: 145px;
    height: 20px;
    font-size: 0.6rem;
  }

  #adderssBtn {
    position: relative;
    width: 50px;
    height: 25px;
    right: 12px;
    font-size: 0.2rem;
    text-align: center;
  }

  #email {
    width: 145px;
  }

  #sample6_postcode {
    width: 60px;
  }

  #sample6_address {
    position: relative;
    left: 98px;
    width: 60px;
  }

  #sample6_detailAddress {
    position: relative;
    left: 80px;
    width: 60px;
  }

  #sample6_extraAddress {
    position: relative;
    left: 98px;
    width: 120px;
  }

  #mainHeader .main__menu1,
  #mainHeader .main__menu2,
  #mainHeader .main__menu3 {
    width: 90px;
    height: 60px;
    background-color: #79cd9c;
    margin: 1px;
    border: none;
    font-size: 12px;
    color: white;
    font-weight: bold;
  }

  #mainHeader .main__menu1 {
    border-top-left-radius: 35px;
  }

  #mainHeader .main__menu3 {
    border-top-right-radius: 35px;
  }

  #mainHeader .main__menu1:hover,
  #mainHeader .main__menu2:hover,
  #mainHeader .main__menu3:hover,
  #compl:hover {
    background-color: #00b3a8;
    font-size: 84%;
  }

  #compl {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #79cd9c;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
  }

  #currentPW,
  #newPW2,
  #newPW3 {
    width: 130px;
  }

  .mainContentMenu2 .PW4 p {
    margin-left: 20px;
    width: 230px;
    text-align: center;
    font-size: 7px;
    height: 135px;
    border-radius: 5px;
    /* background-color: #00B3A8; */
    border: 1px solid #000;
  }

  .mainContentMenu3 .UR4 p {
    margin-left: 20px;
    width: 230px;
    text-align: center;
    font-size: 7px;
    height: 155px;
    border-radius: 5px;
    /* background-color: #00B3A8; */
    border: 1px solid #000;
  }

  #email_down {
    position: relative;
    left: 15px;
    font-size: 0.4rem;
  }

  #phone_down {
    position: relative;
    left: 15px;
    font-size: 0.4rem;
  }

  #companyNumber_down {
    position: relative;
    left: 5px;
    font-size: 0.4rem;
  }

  #currentPW_down,
  #newPW2_down,
  #newPW3_down {
    position: relative;
    left: 5px;
    font-size: 0.4rem;
  }

  #UR2_1_down,
  #UR3_1_down {
    position: relative;
    left: 5px;
    font-size: 0.4rem;
  }
}
