<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
            name="description"
            content="서로에게 이득이 되는 아르바이트 구직정보 사이트 단디 알바"
    />
    <meta name="keywords" content="dandi" />
    <meta name="author" content="4팀" />
    <title>단디알바</title>
    <link
            rel="stylesheet"
            href="../../static/fragmentCommon/common/common.css"
            th:href="@{/fragmentCommon/common/common.css}"
    />
    <link
            rel="stylesheet"
            href="./resumeFormBlank.css"
            th:href="@{/resumeApply/applyCompany.css}"
    />

    <script
            src="https://kit.fontawesome.com/72dc3cd256.js"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div id="wrapper">
    <div
            th:replace="~{/fragment/mainHeadLoginAfter :: mainHeaderAfter}"
    ></div>
    <div
            th:replace="~{/fragment/mainNavigationLoginAfter :: mainNavigationAfter}"
    ></div>
    <!-- 메인: insert content -->
    <main id="wrap__main">
        <div id="wrap__content">
            <div id="main__title">
                <h1>이력서 지원 내역</h1>
            </div>
            <div id="main__top">
                <ul>
                    <li>※이력서 버튼을 누를 경우 지원받은 이력서를 보실 수 있습니다.</li>
                    <li>

                    </li>
                </ul>
            </div>

            <div id="main__bottom">
                <table id="table1" border="1">
                    <th>번호</th>
                    <th>지원날짜</th>
                    <th>이름</th>
                    <th>성별</th>
                    <th>생년월일</th>
                    <th>이력서 보기</th>

                    <tr th:each="resumeItem : ${list}">
                        <td th:text="${resumeItemStat.count}">1</td>
                        <td><span th:text="${resumeItem.cDate}"></span></td>
                        <td><span th:text="${resumeItem.namePerson}"></span></td>
                        <td><span th:text="${resumeItem.genderPerson}"></span></td>
                        <td><span th:text="${resumeItem.birthPerson}"></span></td>
                        <td><button><a href="" th:href="@{|/apply/${resumeItem.resumeApplyId}/${resumeItem.resumeId}/applyDetail|}">이력서</a></button></td>
                    </tr>
                </table>


            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <div th:replace="~{/fragment/mainFooter :: mainFooter}"></div>
    <!-- 공백 태그-->
    <div class="sp1"></div>
    <div class="sp2"></div>
    <div class="sp3"></div>
    <div class="sp4"></div>
    <div class="sp5"></div>
    <div class="sp6"></div>
    <div class="sp7"></div>
    <div class="sp8"></div>
    <div class="sp9"></div>
    <div class="sp10"></div>
</div>
<script
        type="module"
        src="../../static/fragmentCommon/common/layout.js"
        th:src="@{/fragmentCommon/common/layout.js}"
></script>
</body>
</html>
