<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="서로에게 이득이 되는 아르바이트 구직정보 사이트 단디 알바"
    />
    <meta name="keywords" content="dandi" />
    <meta name="author" content="4팀" />
    <title>단디알바</title>
    <link
      rel="stylesheet"
      href="../../static/fragmentCommon/common/common.css"
      th:href="@{/fragmentCommon/common/common.css}"
    />
    <link
      rel="stylesheet"
      href="./resumewritemodify.css"
      th:href="@{/resume/resumewritemodify.css}"
    />
    <script
      src="https://kit.fontawesome.com/72dc3cd256.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div th:replace="~{/fragment/mainHeadLoginAfter :: mainHeaderAfter}"></div>
    <div
      th:replace="~{/fragment/mainNavigationLoginAfter :: mainNavigationAfter}"
    ></div>
    <!-- 메인: insert content -->
    <form action="" method="post" th:object="${resumeDetailForm}">
      <main id="wrap__main">
        <div id="wrap__content">
          <div id="main__title">
            <h1>이력서 수정</h1>
          </div>
          <div id="main__profile">
            <div id="resume__title">
            <span>이력서제목</span
            ><input type="text" th:field="*{resumeTitle}" />
            </div>
            <ul>
              <li>
                <i class="fa-regular fa-user"></i>
              </li>
              <li>
                <input type="file" />
              </li>
            </ul>
          </div>
          <div id="main__info">
            <ul>
              <li id="text1">
                <span>이름</span>
                <input
                  type="text"
                  th:value="${resumePersonForm.namePerson}"
                  readonly
                />
              </li>
              <li id="main__gender">
                <span>성별</span>
                <input
                  id="mypagebirth"
                  type="text"
                  name="mypageBirth"
                  th:value="${resumePersonForm.genderPerson}"
                  readonly
                />
                <!-- <input type="radio" id="malebutton" name="gender" value="man" readonly>
            <label for="malebutton" id="gender" class="man" >남자</label>
            <input type="radio" id="femalebutton" name="gender" value="woman" readonly />
            <label for="femalebutton" id="gender" class="women" >여자</label> -->
              </li>
              <li id="text2">
                <span>생년월일</span>
                <input
                  type="text"
                  th:value="${resumePersonForm.birthPerson}"
                  readonly
                />
              </li>
              <li id="text3">
                <span>주소</span>
                <input
                  type="text"
                  th:value="${resumePersonForm.addressPerson}"
                  readonly
                />
              </li>
              <li id="text4">
                <span>상세주소</span>
                <input
                        type="text"
                        th:value="${resumePersonForm.detailAddressPerson}"
                        readonly
                />
              </li>
              <li id="text5">
                <span>이메일</span>
                <input
                  type="text"
                  th:value="${resumePersonForm.emailPerson}"
                  readonly
                />
              </li>
              <li id="text6">
                <span>전화번호</span>
                <input
                  type="tel"
                  th:value="${resumePersonForm.phonePerson}"
                  readonly
                />
              </li>
            </ul>
          </div>
          <div id="resume__modifybutton">
            <button type="button">
              <a
                th:href="@{/memberPersons/{id}/modify(id=${session.loginPerson?.personIdPk})}"
                >개인정보 수정</a
              >
            </button>
          </div>

          <div id="career"><p>경력사항</p></div>

          <div id="resume__table">
            <table id="add" border="1">
              <thead>
                <th>번호</th>
                <th id="th2">회사</th>
                <th id="th3">근무월수</th>
                <th id="th4">근무명</th>
              </thead>
              <tbody>
                <tr
                  th:each="resumeItem,resumeItemStat: ${resumeDetailForm.resumeItems}"
                >
                  <input
                    type="hidden"
                    th:name="|resumeItems[${resumeItemStat.index}].resumeDetailId|"
                    th:value="${resumeItem.resumeDetailId}"
                  />
                  <input
                    type="hidden"
                    th:name="|resumeItems[${resumeItemStat.index}].resumeId|"
                    th:value="${resumeItem.resumeId}"
                  />
                  <input
                    type="hidden"
                    th:name="|resumeItems[${resumeItemStat.index}].resumeItemId|"
                    th:value="${resumeItem.resumeItemId}"
                  />
                  <td><span th:text="${resumeItem.resumeItemId}"></span></td>
                  <td>
                    <input
                      type="text"
                      th:name="|resumeItems[${resumeItemStat.index}].businessName|"
                      th:value="${resumeItem.businessName}"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      th:name="|resumeItems[${resumeItemStat.index}].businessDate|"
                      th:value="${resumeItem.businessDate}"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      th:name="|resumeItems[${resumeItemStat.index}].businessWork|"
                      th:value="${resumeItem.businessWork}"
                    />
                  </td>
                </tr>
                <!--    <input type="button" value="행추가" onclick="addRow()"/>-->
                <!--    <input type="button" value="행삭제" onclick="deleteRow(-1)">-->
              </tbody>
            </table>
          </div>

          <div id="self__text"><p>자기소개서</p></div>

          <div id="resume__textarea">
            <textarea
              name=""
              id=""
              cols="50"
              rows="30"
              th:field="*{selfIntro}"
              placeholder="자기소개를 입력하세요"
            ></textarea>
          </div>
          <div>
            <button id="resume__button">이력서 저장</button>
          </div>
        </div>
      </main>
    </form>
    <!-- 푸터 -->
    <div th:replace="~{/fragment/mainFooter :: mainFooter}"></div>
    <!-- 공백 태그-->
    <div class="sp1"></div>
    <div class="sp2"></div>
    <div class="sp3"></div>
    <div class="sp4"></div>
    <div class="sp5"></div>
    <div class="sp6"></div>
    <div class="sp7"></div>
    <div class="sp8"></div>
    <div class="sp9"></div>
    <div class="sp10"></div>
    <script
      type="module"
      src="../../static/fragmentCommon/common/layout.js"
      th:src="@{/fragmentCommon/common/layout.js}"
    ></script>
    <script>
      function addRow() {
        // table element 찾기
        const table = document.getElementById("add");

        // 새 행(Row) 추가
        const newRow = table.insertRow();

        // 새 행(Row)에 Cell 추가
        const newCell1 = newRow.insertCell(0);
        const newCell2 = newRow.insertCell(1);
        const newCell3 = newRow.insertCell(2);
        const newCell4 = newRow.insertCell(3);

        // Cell에 텍스트 추가
        newCell1.innerText = "번호";
        newCell2.innerText = "회사";
        newCell3.innerText = "근무일";
        newCell4.innerText = "근무명";
      }

      function deleteRow(rownum) {
        // table element 찾기
        const table = document.getElementById("add");

        // 행(Row) 삭제
        const newRow = table.deleteRow(rownum);
      }
    </script>
  </body>
</html>
