<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <style>
      #info__box {
        display: flex;
        outline: ridge 1px black;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-evenly;
      }
      #info__right {
        margin-right: 100px;
      }

      table {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: 1px solid black;
        border-collapse: collapse;
      }
      #area__box {
        text-align: center;
      }
      #self__intro {
        display: inline-block;
        width: 50%;
        height: 500px;
        cols: 30;
      }
    </style>
  </head>
  <body>
    <button>
      <a
        th:href="@{/memberPersons/{id}/modify(id=${session.loginPerson?.personIdPk})}"
        >개인정보 수정</a
      >
    </button>
    <form action="" method="post" th:object="${resumeDetailForm}">
      <label for="">이력서 제목</label>
      <input type="text" th:field="*{resumeTitle}" />
      <div id="info__box">
        <div id="info__left">
          <input type="file" value="사진등록" />
        </div>
        <div id="info__right">
          <div>
            <label for="">이름</label><span> </span
            ><span th:text="${resumePersonForm.namePerson}"></span>
          </div>
          <div>
            <label for="">성별</label><span> </span
            ><span th:text="${resumePersonForm.genderPerson}"></span>
          </div>
          <div>
            <label for="">나이</label><span> </span
            ><span th:text="${resumePersonForm.birthPerson}"></span>
          </div>
          <div>
            <label for="">휴대폰번호</label><span> </span
            ><span th:text="${resumePersonForm.phonePerson}"></span>
          </div>
          <div>
            <label for="">주소</label><span> </span
            ><span th:text="${resumePersonForm.addressPerson}"></span
            ><span> </span
            ><span th:text="${resumePersonForm.detailAddressPerson}"></span>
          </div>
          <div>
            <label for="">이메일</label><span> </span
            ><span th:text="${resumePersonForm.emailPerson}"></span>
          </div>
        </div>
      </div>

      <table id="add" border="1">
        <th>번호</th>
        <th>회사</th>
        <th>근무월수</th>
        <th>근무명</th>
        <tr th:each="num, numStat : ${#numbers.sequence(1,5)}">
          <td>
            <span th:text="${numStat.count}"></span>
            <input
              type="hidden"
              th:name="|resumeItems[${numStat.index}].resumeItemId|"
              th:value="${numStat.count}"
            />
          </td>
          <td>
            <input
              type="text"
              th:name="|resumeItems[${numStat.index}].businessName|"
            />
          </td>
          <td>
            <input
              type="text"
              th:name="|resumeItems[${numStat.index}].businessDate|"
            />
          </td>
          <td>
            <input
              type="text"
              th:name="|resumeItems[${numStat.index}].businessWork|"
            />
          </td>
        </tr>
      </table>

      <div id="area__box">
        <textarea
          id="self__intro"
          type="textarea"
          placeholder="자기소개서"
          cols="50"
          rows="30"
          th:field="*{selfIntro}"
        ></textarea>

        <div><button>저장</button></div>
      </div>
    </form>
    <script>
      function addRow() {
        // table element 찾기
        const table = document.getElementById('add');

        // 새 행(Row) 추가
        const newRow = table.insertRow();

        // 새 행(Row)에 Cell 추가
        const newCell1 = newRow.insertCell(0);
        const newCell2 = newRow.insertCell(1);
        const newCell3 = newRow.insertCell(2);
        const newCell4 = newRow.insertCell(3);

        // Cell에 텍스트 추가
        newCell1.innerText = '2';
        newCell2.innerHTML = '<input type="text" name="businessName">';
        newCell3.innerHTML = '<input type="text" name="businessDate">';
        newCell4.innerHTML = '<input type="text" name="businessWork">';
      }

      function deleteRow(rownum) {
        // table element 찾기
        const table = document.getElementById('add');

        // 행(Row) 삭제
        const newRow = table.deleteRow(rownum);
      }
    </script>
  </body>
</html>
